header {
    background-color: #ecbe7d;
    color: #7f5822;
    padding: 20px 0;
    margin-bottom: 20px;
    
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
}
.description {
    font-size: 20px;
}
.title {
    margin: auto;
    text-align: center;
    font-size: 50px;
}
.button {
    padding: 10px 20px;
    background-color: #7f5822;  
    color: #f3e0bf;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    display: block;
}


