@import "./header.css";
@import "./form.css";
@import "./modal.css";

body{
    height: 100vh;
    background-color: #ffffff;
    margin: 0 auto;
}
.wrap {
    width: 300px;
    margin: auto;

}

#input {
    width: 70%;
    
    
}
#btn {
    width: 20%;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#result {
    margin-bottom: 50px;
}

.li {
    padding: 4px 8px;
    background-color:rgb(215, 196, 165);
    border: 1px solid rgb(255, 236, 236);
    margin: 30px 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* z-index: 5; */
    width: 90%;
    text-transform: capitalize;
}

.li-active {
    background-color:rgb(149, 99, 64);
    text-decoration: line-through;
}

.li-active.btn {
    color:rgb(240, 227, 207);
    text-decoration: line-through;
    background-color:rgb(248, 222, 180)
}

.btn {
  
    border: none;
    color:rgb(255, 255, 255);
    /* margin-left: 15px; */
    float:right;
    
    cursor: pointer;
    position: relative;
    z-index: 10;

}

.taskBoard  {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;

}

.todoBoard, .doingBoard, .doneBoard {
    font-size: 20px;
    color: rgb(149, 99, 64);
    width: 30%;
    border: 1px solid rgb(255, 236, 236);
    margin-right: 30px;
}



